* {
  box-sizing: border-box;
  margin: 0;
}

#union {
  width: 40px;
}

#union:hover {
  cursor: pointer;
}

.navbar {
  background-color: #0a1016c4;
  padding: 15px;
}

.aboutcontainer {
  background-color: #f4f4f4a1;
}

.topcontent {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.topcontent h1 {
  color: #de834d;
}

.middlecontent {
  padding: 30px;
}

.lastpartimg h1,
p {
  color: white;
}

.aboutcontent {
  padding: 30px;
  border: 1px solid rgba(128, 128, 128, 0.365);
  border-radius: 10px;
  background-color: white;
  background-image: url(./images/snapshot.jpeg);
}

.aboutcontent p {
  line-height: 25px;
  align-items: center;
  color: white;
}

.contactsec a {
  text-decoration: none;
  color: rgb(121, 16, 16);
  margin-top: 25px;
  border-bottom: 1px solid gold;
}

.browsers li {
  list-style: none;
}

.browsers li a {
  color: white;
  text-decoration: none;
}

.technologies li {
  list-style: none;
}

/* contactsec */

.hamburger ul li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  width: 100%;
}

.contactsec {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contactsec a:hover {
  cursor: pointer;
}

.contactsec p {
  line-height: 30px;
}

/* container */

.container {
  display: none;
}

/* hamburger dropdown */
.hamburger {
  display: none;
  background-color: #f5f4f4;
  color: #fff5e1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 199;
  top: 0;
  left: 0;
}

.hamburger ul {
  display: flex;
  flex-direction: column;
  padding: 108px 108px;
}

.hamburger ul li {
  margin-top: 40px;
  border-bottom: 2px solid wheat;
  list-style: none;
}

.menu-container {
  width: 100%;
}

#xicon {
  position: absolute;
  top: 40px;
  right: 40px;
}

#xicon:hover {
  cursor: pointer;
}

.imagecontainer {
  width: 100%;
  padding: 25px;
}

#meeting {
  width: 100%;
  border-radius: 20px;
}

.lastpart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.lastpart h2 {
  color: #de834d;
}

#past {
  width: 30px;
  border-bottom: 2px solid red;
}

#past2 {
  width: 30px;
  border-bottom: 2px solid red;
}

.held {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  middle part */

.middlepart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.middlepart h1 {
  color: #de834d;
  padding-bottom: 20px;
  font-family: 'Secular One', sans-serif;
}

.middlepart p {
  color: black;
}

/* container image */
.lastpart p {
  color: black;
}

.containerimages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 35px;
}

.lastpartimg {
  border-radius: 20px;
}

.newyork {
  background-image: url(./images/groupnewyork.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 10px;
}

.chicago {
  background-image: url(./images/groupchicago.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

#redcolor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.523);
  padding: 100px;
}

#redcolor2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.523);
  padding: 100px;
}

#ptag {
  color: white;
}

#ptag2 {
  color: white;
}

/* LAST CONTAINER */

.lastcontainer {
  background-color: rgba(0, 0, 0, 0.817);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partner h1 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.partner p {
  margin-bottom: 20px;
}

.browsers {
  display: flex;
  gap: 50px;
  padding: 10px;
}

#google {
  color: rgba(255, 255, 255, 0.495);
  font-size: 25px;
}

#mozilla {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.981);
}

#naver {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.495);
}

.technologies {
  display: flex;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
}

/* last content */

.lastcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.lastcontent p {
  color: rgba(0, 0, 0, 0.386);
}

#future {
  padding: 20px;
  color: black;
}

.topcontent h2 {
  font-family: 'Secular One', sans-serif;
  color: #781d42;
  font-size: 32px;
  align-items: center;
  font-weight: 700;
}

.held h2 {
  font-family: 'Secular One', sans-serif;
}

@media (min-width: 768px) {
  .topcontent h2 {
    font-family: 'Secular One', sans-serif;
  }

  .middlepart h1 {
    font-family: 'Secular One', sans-serif;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container ul {
    display: flex;
    gap: 20px;
    margin-right: 40px;
  }

  .container ul li {
    display: flex;
    list-style: none;
  }

  .cardgroup {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .container ul li a {
    display: flex;
    color: white;
    text-decoration: none;
  }

  .menu-container a:hover {
    border-bottom: 2px solid orange;
  }

  .container ul li a:hover {
    color: orangered;
  }

  #homeicon {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-left: 40px;
  }

  .mainprogram h5 {
    margin-top: 34px;
    font-family: 'Secular One', sans-serif;
  }

  .mainpage {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutcontainer {
    height: 600px;
  }

  .contactsec {
    margin-top: 0;
  }

  .toppart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
  }

  .toppart ul {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .toppart ul li {
    list-style: none;
  }

  .toppart ul li:hover {
    border-bottom: 1px solid orange;
    cursor: pointer;
  }

  #meeting {
    width: 100%;
    height: 600px;
  }

  .seethe button {
    display: none;
  }

  .timcontent {
    display: flex;
    flex-direction: column;
  }

  .containerimages {
    display: flex;
    flex-direction: row;
  }

  .newyork {
    width: 450px;
  }

  .chicago {
    width: 400px;
  }

  .lastcontent {
    display: none;
  }

  #downarrowbtn {
    display: none;
  }

  #lessarrowbtn {
    display: none;
  }

  #union {
    display: none;
  }
}
